@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.App {
  text-align: center;
}

.navbar-brand {
  font-family: 'Dancing Script', cursive;
}

.explore-section{
  background-image: linear-gradient(rgb(22,22,22,0.3),rgba(22, 22, 22, 0.3)),url(assets/bgImage.jpg);
}

.explore-heading {
  font-family: 'Dancing Script', cursive; /* Use your imported Google Font */
  font-size: 2.5rem; /* Adjust the size */
  font-weight: 700; /* Bold weight */
}

.explore-para {
  line-height: 1.6; /* Better line height for readability */
}
